<h2>Table for Landlords</h2>

<table class="table table-bordered table-hover table-responsive">
    <thead class="thead-dark">
        <tr class="table-active">
            <th>Email</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @landlords.each do |landlord| %>
            <tr class="table-active">
            <td class="bg-white"><%= landlord.email %></td>
            <td class="bg-white"><%= landlord.approved? ? "Approved" : "Pending" %></td>
            <td class="bg-white">
                <% unless landlord.approved? %>
                <%= link_to "Approve", approve_super_admin_landlord_path(landlord),
                            data: { turbo_method: :patch }, data: { confirm: "Approve this landlord?" } %> |
                <%= link_to "Reject", reject_super_admin_landlord_path(landlord),
                            data: { turbo_method: :delete }, data: { confirm: "Reject this landlord?" } %>
                <% end %>
            </td>
            </tr>
        <% end %>
    </tbody>
</table>
